<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>PC00 -&gt; PCI0</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UEMwMA==</data>
					<key>Replace</key>
					<data>UENJMA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_OSI -&gt; XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>EC0_ -&gt; EC__</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>H_EC -&gt; EC__</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SF9FQw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HEC1 -&gt; IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SEVDMQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>IDER-&gt;MEID</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>SURFUg==</data>
					<key>Replace</key>
					<data>TUVJRA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>LPC0 -&gt; LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>TFBDMA==</data>
					<key>Replace</key>
					<data>TFBDQg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>FPU_ -&gt; MATH</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>RlBVXw==</data>
					<key>Replace</key>
					<data>TUFUSA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>TMR_ -&gt; TIMR</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>VE1SXw==</data>
					<key>Replace</key>
					<data>VElNUg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PIC_ -&gt; IPIC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>UElDXw==</data>
					<key>Replace</key>
					<data>SVBJQw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SMBS._ADR -&gt; XSBU.XADR</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>U01CUwhfQURS</data>
					<key>Replace</key>
					<data>WFNCVQhYQURS</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>_DSM -&gt; XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP00 -&gt; PR00</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwMA==</data>
					<key>Replace</key>
					<data>UFIwMA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP01 -&gt; PR01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwMQ==</data>
					<key>Replace</key>
					<data>UFIwMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP02 -&gt; PR02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwMg==</data>
					<key>Replace</key>
					<data>UFIwMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP03 -&gt; PR03</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwMw==</data>
					<key>Replace</key>
					<data>UFIwMw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP04 -&gt; PR04</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwNA==</data>
					<key>Replace</key>
					<data>UFIwNA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP05 -&gt; PR05</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwNQ==</data>
					<key>Replace</key>
					<data>UFIwNQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP06 -&gt; PR06</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwNg==</data>
					<key>Replace</key>
					<data>UFIwNg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP07 -&gt; PR07</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwNw==</data>
					<key>Replace</key>
					<data>UFIwNw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP08 -&gt; PR08</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwOA==</data>
					<key>Replace</key>
					<data>UFIwOA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP09 -&gt; PR09</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwOQ==</data>
					<key>Replace</key>
					<data>UFIwOQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP0E -&gt; PR10</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwRQ==</data>
					<key>Replace</key>
					<data>UFIxMA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP0F -&gt; PR11</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwRg==</data>
					<key>Replace</key>
					<data>UFIxMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP10 -&gt; PR12</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxMA==</data>
					<key>Replace</key>
					<data>UFIxMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP11 -&gt; PR13</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxMQ==</data>
					<key>Replace</key>
					<data>UFIxMw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP12 -&gt; PR14</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxMg==</data>
					<key>Replace</key>
					<data>UFIxNA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP13 -&gt; PR15</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxMw==</data>
					<key>Replace</key>
					<data>UFIxNQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP14 -&gt; PR16</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxNA==</data>
					<key>Replace</key>
					<data>UFIxNg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP15 -&gt; PR17</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxNQ==</data>
					<key>Replace</key>
					<data>UFIxNw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP1C -&gt; PR18</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxQw==</data>
					<key>Replace</key>
					<data>UFIxOA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP1D -&gt; PR19</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxRA==</data>
					<key>Replace</key>
					<data>UFIxOQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP1E -&gt; PR20</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxRQ==</data>
					<key>Replace</key>
					<data>UFIyMA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP1F -&gt; PR21</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxRg==</data>
					<key>Replace</key>
					<data>UFIyMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP20 -&gt; PR22</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyMA==</data>
					<key>Replace</key>
					<data>UFIyMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP21 -&gt; PR23</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyMQ==</data>
					<key>Replace</key>
					<data>UFIyMw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP22 -&gt; PR24</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyMg==</data>
					<key>Replace</key>
					<data>UFIyNA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP23 -&gt;PR25</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyMw==</data>
					<key>Replace</key>
					<data>UFIyNQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP24 -&gt; PR26</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyNA==</data>
					<key>Replace</key>
					<data>UFIyNg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP25 -&gt; PR27</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyNQ==</data>
					<key>Replace</key>
					<data>UFIyNw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP2A -&gt; PR28</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyQQ==</data>
					<key>Replace</key>
					<data>UFIyOA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP2B -&gt; PR29</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyQg==</data>
					<key>Replace</key>
					<data>UFIyOQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP2C -&gt; PR30</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyQw==</data>
					<key>Replace</key>
					<data>UFIzMA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP2D -&gt; PR31</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyRA==</data>
					<key>Replace</key>
					<data>UFIzMQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP2E -&gt; PR32</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyRQ==</data>
					<key>Replace</key>
					<data>UFIzMg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP2F -&gt; PR33</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyRg==</data>
					<key>Replace</key>
					<data>UFIzMw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP30 -&gt; PR34</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AzMA==</data>
					<key>Replace</key>
					<data>UFIzNA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP31 -&gt; PR35</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AzMQ==</data>
					<key>Replace</key>
					<data>UFIzNQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP0A -&gt; PR36</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwQQ==</data>
					<key>Replace</key>
					<data>UFIzNg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP0B -&gt; PR37</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwQg==</data>
					<key>Replace</key>
					<data>UFIzNw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP0C -&gt; PR38</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwQw==</data>
					<key>Replace</key>
					<data>UFIzOA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP0D -&gt; PR39</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AwRA==</data>
					<key>Replace</key>
					<data>UFIzOQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP16 -&gt; PR40</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxNg==</data>
					<key>Replace</key>
					<data>UFI0MA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP17 -&gt; PR41</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxNw==</data>
					<key>Replace</key>
					<data>UFI0MQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP18 -&gt; PR42</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxOA==</data>
					<key>Replace</key>
					<data>UFI0Mg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP19 -&gt; PR43</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxOQ==</data>
					<key>Replace</key>
					<data>UFI0Mw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP1A -&gt; PR44</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxQQ==</data>
					<key>Replace</key>
					<data>UFI0NA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP1B -&gt; PR45</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AxQg==</data>
					<key>Replace</key>
					<data>UFI0NQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP26 -&gt; PR46</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyNg==</data>
					<key>Replace</key>
					<data>UFI0Ng==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP27 -&gt; PR47</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyNw==</data>
					<key>Replace</key>
					<data>UFI0Nw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP28 -&gt; PR48</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyOA==</data>
					<key>Replace</key>
					<data>UFI0OA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP29 -&gt; PR49</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AyOQ==</data>
					<key>Replace</key>
					<data>UFI0OQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP32 -&gt; PR50</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AzMg==</data>
					<key>Replace</key>
					<data>UFI1MA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP33 -&gt; PR51</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AzMw==</data>
					<key>Replace</key>
					<data>UFI1MQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP34 -&gt; PR52</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AzNA==</data>
					<key>Replace</key>
					<data>UFI1Mg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP35 -&gt; PR53</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AzNQ==</data>
					<key>Replace</key>
					<data>UFI1Mw==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP36 -&gt; PR54</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AzNg==</data>
					<key>Replace</key>
					<data>UFI1NA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CP37 -&gt; PR55</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>Q1AzNw==</data>
					<key>Replace</key>
					<data>UFI1NQ==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>CAVS -&gt; HDEF</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>Q0FWUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>SL05 -&gt; GFX0</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>U0wwNQ==</data>
					<key>Replace</key>
					<data>R0ZYMA==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>PMC1 -&gt; PMCR</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>UE1DMQ==</data>
					<key>Replace</key>
					<data>UE1DUg==</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>GBE1 -&gt; ETH0</string>
					<key>Disabled</key>
					<true/>
					<key>Find</key>
					<data>R0JFMQ==</data>
					<key>Replace</key>
					<data>RVRIMA==</data>
				</dict>
			</array>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 darkwake=0</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>NoEarlyProgress</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>7</integer>
		</dict>
		<key>USB</key>
		<dict>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Tool</key>
			<true/>
		</dict>
		<key>ShowOptimus</key>
		<true/>
		<key>Theme</key>
		<string>random</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>xcpm_core_scope_msrs © Pike R. Alpha</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>vgMAAAAx0uhy/P//</data>
				<key>Replace</key>
				<data>vgMAAAAx0pCQkJCQ</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>SSD Trim Enabler</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>QVBQTEUgU1NEAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port Limit Patch ©PMHeart</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>g32IDw+DpwQAAA==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g32ID5CQkJCQkA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>F1/F2 Key Patch 1 ©Wern</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>MHgwMDA3MDAzYSwweGZmMDEwMDIx</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleHIDKeyboard</string>
				<key>Replace</key>
				<data>MHgwMDA3MDAzYSwweDAwMDcwMDNh</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>F1/F2 Key Patch 2 ©Wern</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>MHgwMDA3MDAzYiwweGZmMDEwMDIw</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleHIDKeyboard</string>
				<key>Replace</key>
				<data>MHgwMDA3MDAzYiwweDAwMDcwMDNi</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>FredWst DP/HDMI patch</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>3hALDg==</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.AppleHDAController</string>
				<key>Replace</key>
				<data>3hDvEA==</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Aquantia patch ©Mieze</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>D4TAAwAA</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleEthernetAquantiaAqtion</string>
				<key>Replace</key>
				<data>kJCQkJCQ</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>12/08/2017</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IMP11.88Z.0064.B30.1712081714</string>
		<key>Board-ID</key>
		<string>Mac-7BA5B2D9E42DDD94</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>iMacPro-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>Family</key>
		<string>iMac Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xFD8FF53E</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF9FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>PlatformFeature</key>
		<string>0xFFFF</string>
		<key>ProductName</key>
		<string>iMacPro1,1</string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
