<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tools</key>
	<dict>
		<key>Bitbucket</key>
		<array>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>os-x-maciasl-patchmatic</string>
				<key>Name</key>
				<string>RehabMan-patchmatic</string>
				<key>Installations</key>
				<array>
					<dict>
						<key>Name</key>
						<string>patchmatic</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>Hotpatch</key>
	<dict>
		<key>Author</key>
		<string>RehabMan</string>
		<key>Repo</key>
		<string>OS-X-Clover-Laptop-Config</string>
		<key>Path</key>
		<string>hotpatch</string>
		<key>SSDT</key>
		<array>
			<string>SSDT-XOSI.dsl</string>
		</array>
	</dict>
	<key>Kexts</key>
	<dict>
		<key>Install</key>
		<dict>
			<key>GitHub</key>
			<array>
				<dict>
					<key>Author</key>
					<string>acidanthera</string>
					<key>Repo</key>
					<string>BrcmPatchRAM</string>
					<key>Installations</key>
					<array>
						<dict>
							<key>Name</key>
							<string>BrcmPatchRAM3.kext</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>BrcmFirmwareRepo.kext</string>
							<key>Essential</key>
							<true/>
						</dict>
						<dict>
							<key>Name</key>
							<string>BrcmBluetoothInjector.kext</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>BrcmNonPatchRAM2.kext</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>Bitbucket</key>
			<array>
				<dict>
					<key>Author</key>
					<string>RehabMan</string>
					<key>Repo</key>
					<string>os-x-realtek-network</string>
					<key>Installations</key>
					<array>
						<dict>
							<key>Name</key>
							<string>RealtekRTL8111.kext</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>Local</key>
			<array>
				<dict>
					<key>Author</key>
					<string>interferenc</string>
					<key>Repo</key>
					<string>TSCAdjustReset</string>
					<key>Repo-type</key>
					<string>GitHub</string>
					<key>Installations</key>
					<array>
						<dict>
							<key>Name</key>
							<string>TSCAdjustReset.kext</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>Deprecated</key>
		<array/>
	</dict>
	<key>Drivers</key>
	<dict>
		<key>Install</key>
		<dict>
			<key>Local</key>
			<array>
				<dict>
					<key>Author</key>
					<string>acidanthera</string>
					<key>Repo</key>
					<string>VirtualSMC</string>
					<key>Repo-type</key>
					<string>GitHub</string>
					<key>Installations</key>
					<array>
						<dict>
							<key>Name</key>
							<string>VirtualSmc.efi</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>Deprecated</key>
		<array/>
	</dict>
</dict>
</plist>
