<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Tools</key>
	<dict>
		<key>Bitbucket</key>
		<array>
			<dict>
				<key>Author</key>
				<string>RehabMan</string>
				<key>Repo</key>
				<string>acpica</string>
				<key>Installations</key>
				<array>
					<dict>
						<key>Name</key>
						<string>iasl</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>Hotpatch</key>
	<dict>
		<key>Author</key>
		<string>RehabMan</string>
		<key>Repo</key>
		<string>OS-X-Clover-Laptop-Config</string>
		<key>Path</key>
		<string>hotpatch</string>
		<key>SSDT</key>
		<array>
			<string>SSDT-XOSI.dsl</string>
		</array>
	</dict>
	<key>Kexts</key>
	<dict>
		<key>Install</key>
		<dict>
			<key>GitHub</key>
			<array>
				<dict>
					<key>Author</key>
					<string>acidanthera</string>
					<key>Repo</key>
					<string>Lilu</string>
					<key>Installations</key>
					<array>
						<dict>
							<key>Name</key>
							<string>Lilu.kext</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Author</key>
					<string>acidanthera</string>
					<key>Repo</key>
					<string>VirtualSMC</string>
					<key>Installations</key>
					<array>
						<dict>
							<key>Name</key>
							<string>VirtualSMC.kext</string>
						</dict>
						<dict>
							<key>Name</key>
							<string>VirtualSmc.efi</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Author</key>
					<string>acidanthera</string>
					<key>Repo</key>
					<string>WhateverGreen</string>
					<key>Installations</key>
					<array>
						<dict>
							<key>Name</key>
							<string>WhateverGreen.kext</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Author</key>
					<string>acidanthera</string>
					<key>Repo</key>
					<string>AppleALC</string>
					<key>Installations</key>
					<array>
						<dict>
							<key>Name</key>
							<string>AppleALC.kext</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Author</key>
					<string>acidanthera</string>
					<key>Repo</key>
					<string>IntelMausi</string>
					<key>Installations</key>
					<array>
						<dict>
							<key>Name</key>
							<string>IntelMausi.kext</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Author</key>
					<string>acidanthera</string>
					<key>Repo</key>
					<string>HibernationFixup</string>
					<key>Installations</key>
					<array>
						<dict>
							<key>Name</key>
							<string>HibernationFixup.kext</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>Bitbucket</key>
			<array/>
			<key>Local</key>
			<array>
				<dict>
					<key>Author</key>
					<string>interferenc</string>
					<key>Repo</key>
					<string>TSCAdjustReset</string>
					<key>Repo-type</key>
					<string>GitHub</string>
					<key>Installations</key>
					<array>
						<dict>
							<key>Name</key>
							<string>TSCAdjustReset.kext</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Author</key>
					<string>apfelnico</string>
					<key>Repo</key>
					<string>None</string>
					<key>Repo-type</key>
					<string>None</string>
					<key>Installations</key>
					<array>
						<dict>
							<key>Name</key>
							<string>AGPMEnabler.kext</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<key>Deprecated</key>
		<array/>
	</dict>
</dict>
</plist>
